.leaf {
  position: absolute;
  transition: transform 0.3s ease;
}

/* Leaf Positions - Mobile Base */
@media (min-width: 300px) and (max-width: 767px) {
  .leaf-one {
    top: 5%;
    left: 80%;
    z-index: 10;
  }

  .leaf-two {
    top: 85%;
    left: 20%;
    z-index: 10;
  }

  .leaf-three {
    top: 80%;
    left: 60%;
    z-index: 10;
  }
}
/* Leaf Positions - Tablets */
@media (min-width: 640px) {
  .leaf-one {
    top: 3%;
    left: 75%;
    z-index: 10;
  }

  .leaf-two {
    left: 42%;
    top: 55%;
    transform: scale(1);
    z-index: 10;
  }

  .leaf-three {
    top: 60%;
    left: 5%;
    z-index: 10;
  }
}

/* Leaf Positions - laptops */
@media (min-width: 1024px) {
  .leaf-one {
    top: 0%;
    left: 30%;
    z-index: 10;
  }

  .leaf-two {
    left: 32%;
    z-index: 10;
  }
  .leaf-three {
    top: 60%;
    left: 5%;
    z-index: 10;
  }
}

/* Leaf Positions - laptops */
@media (min-width: 1920px) {
  .leaf-one {
    top: 0%;
    left: 47%;
    z-index: 10;
  }

  .leaf-two {
    left: 32%;
    top: 75%;
    z-index: 10;
  }
  .leaf-three {
    top: 70%;
    left: 5%;
    z-index: 10;
  }
}

/* Leaf Animation when active */
.swiper-slide-active .leaf-one {
  transform: translateY(100px);
  transition-duration: 2000ms;
}

.swiper-slide-active .leaf-two {
  transform: translateX(-50px);
  transition-duration: 2000ms;
}

.swiper-slide-active .leaf-three {
  transform: translateY(-50px);
  transition-duration: 2000ms;
}

/* Text Default Position - Mobile */
@media (min-width: 300px) and (max-width: 767px) {
  .text-content .text-u {
    top: 51%;
    left: 49%;
    font-size: 65px;
    z-index: 10;
    font-weight: 100;
    font-family: Mapau;
  }

  .text-content .text-r {
    top: 51%;
    left: 62%;
    font-size: 65px;
    z-index: 10;
    font-weight: 100;
    font-family: Mapau;
  }

  .text-content .text-e {
    top: 25%;
    left: 70%;
  }
}
/* Tablets */
@media (min-width: 768px) and (max-width: 1279px) {
  .text-content .text-u {
    top: 41.4%;
    left: 48%;
    font-size: 125px;
    z-index: 10;
    font-weight: 100;
    font-family: Mapau;
  }

  .text-content .text-r {
    top: 20.3%;
    left: 60%;
    font-size: 125px;
    z-index: 10;
    font-weight: 100;
    font-family: Mapau;
  }

  .text-content .text-e {
    top: 28.5%;
    left: 73%;
    z-index: 10;
  }
}

@media (max-width: 1279px) {
  .swiper-slide-active .text-u,
  .swiper-slide-active .text-r {
    transform: none !important;
    transition: none !important;
  }
}

/* ✅ Laptops between 1280x800 and 1440x900 */
@media (min-width: 1280px) and (max-width: 1440px) {
  .text-content .text-u {
    left: 38%;
    top: 41%;
    font-size: 150px; /* reduce size slightly */
    z-index: 10;
    font-weight: 100;
    font-family: Mapau;
  }

  .text-content .text-r {
    left: 47.5%;
    top: 7.2%;
    font-size: 150px;
    z-index: 10;
    font-weight: 100;
    font-family: Mapau;
  }
}
@media (min-width: 1441px) {
  .text-content .text-u {
    left: 39%;
    top: 35%;
    font-size: 250px; /* reduce size slightly */
    z-index: 10;
    font-weight: 100;
    font-family: Mapau;
  }

  .text-content .text-r {
    left: 49.5%;
    top: 9.2%;
    font-size: 250px;
    z-index: 10;
    font-weight: 100;
    font-family: Mapau;
  }

  .text-content .text-e {
    left: 75%;
    font-size: 250px;
  }
}

/* Text Animation */
.swiper-slide-active .text-u {
  transform: translateY(-70px);
  transition-duration: 2000ms;
}

.swiper-slide-active .text-r {
  transform: translateY(180px);
  transition-duration: 2000ms;
}

.swiper-slide-active .text-e {
  transform: translateX(-200px);
  transition-duration: 2000ms;
}
